<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <i class="fa fa-github"></i> GitGoogle
        </a>
       
        <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        <a href="https://github.com/join?source=header-home" target="_blank" class="btn btn-warning">SIGN UP</a>
        </li>
        </ul>
       
    </nav>
    <br>
    <div class="jumbotron">
        <i class="fa fa-github" style="font-size: 80px;" aria-hidden="true"></i>
        <h2>SIGN IN TO DEPLOY</h2>
        <br>
        <form>
            <div class="form-group">
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username" [(ngModel)]="username" name="username">
            </div>
            <br>
            <div class="form-group">
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="password" name="password">
            </div>
            <br>
            <button type="submit" class="btn btn-warning" (click)=login()>SIGN IN</button>
          </form>
    </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="cog" fullScreen="true">
</ngx-spinner>